.rectangle{
    fill:rgb(25, 80, 25);
    stroke-width:10 ;
    stroke: rosybrown;
}


.ellipse{
    fill:yellow;
    stroke:purple;
    stroke-width:2;
}

body{
    display: flex;
    flex-direction: column;

}

.polygon{
    fill:lime;stroke:purple;stroke-width:1;
}


.youtube{
    fill:#e52d27;
    stroke:#e52d27;
    stroke-width:5;
    
 }
    
 .youtuber--inner{
    fill:white;
    }